/*
Activity Log Manager Main Admin Stylesheet
*/
a, div {
    outline: none;
}

a {
    color: #0073aa;
    text-decoration: none;
}

ul {
    list-style: none;
}

ol, ul {
    padding: 0;
}

dd, li {
    margin-bottom: 6px;
}

select {
    cursor: pointer;
}

/* Hide the spinner by default */
.stackauth-wrap .spinner {
    display: none;
}

/*
 * Main Meta Settings Page  */
.heading .dashicons {
    font-size: 30px;
    margin-right: 5px;
    color: #413e3e;
}

/* Plugin Menu */
.filter-links li > a {
    margin: 0 6px;
    font-weight: 600;
}

.meta-menu-navigation {
    position: absolute;
    right: 10px;
    top: 10px;
}

.plugin-install-featured .dashicons {
    color: #514e4e;
}

.go-premium-menu-btn {
    border-radius: 2px !important;
    outline: none !important;
    box-shadow: none !important;
}

.go-premium-menu-btn .dashicons {
    position: relative;
    top: 3px;
    font-size: 16px;
    color: #ffffffe6;
}
